$Color-green--100: #d7f4d7;
$Color-green--200: #c2f2bd;
$Color-green--300: #98e58e;
$Color-green--400: #75dd66;
$Color-green--500: #59cb59;
$Color-green--600: #2bb656;
$Color-green--700: #0ca750;
$Color-green--800: #008b46;
$Color-green--900: #006b40;
$Color-green--1000: #08422f;
$Color-green--1100: #002b20;
$Color-teal--100: #cdf7ef;
$Color-teal--200: #b3f2e6;
$Color-teal--300: #7dead5;
$Color-teal--400: #24e0c5;
$Color-teal--500: #08c4b2;
$Color-teal--600: #00a99c;
$Color-teal--700: #0b968f;
$Color-teal--800: #067c7c;
$Color-teal--900: #026661;
$Color-teal--1000: #083f3f;
$Color-teal--1100: #002528;
$Color-aqua--100: #c5f9f9;
$Color-aqua--200: #a5f2f2;
$Color-aqua--300: #76e5e2;
$Color-aqua--400: #33d6e2;
$Color-aqua--500: #17b8ce;
$Color-aqua--600: #0797ae;
$Color-aqua--700: #0b8599;
$Color-aqua--800: #0f6e84;
$Color-aqua--900: #035e73;
$Color-aqua--1000: #083d4f;
$Color-aqua--1100: #002838;
$Color-blue--100: #dcf2ff;
$Color-blue--200: #c7e4f9;
$Color-blue--300: #a1d2f8;
$Color-blue--400: #56adf5;
$Color-blue--500: #3896e3;
$Color-blue--600: #2b87d3;
$Color-blue--700: #2079c3;
$Color-blue--800: #116daa;
$Color-blue--900: #0c5689;
$Color-blue--1000: #0a3960;
$Color-blue--1100: #002138;
$Color-purple--100: #eaeaf9;
$Color-purple--200: #d8d7f9;
$Color-purple--300: #c1c1f7;
$Color-purple--400: #a193f2;
$Color-purple--500: #9180f4;
$Color-purple--600: #816fea;
$Color-purple--700: #6f5ed3;
$Color-purple--800: #5e4eba;
$Color-purple--900: #483a9c;
$Color-purple--1000: #2d246b;
$Color-purple--1100: #1d1d38;
$Color-magenta--100: #f9e3fc;
$Color-magenta--200: #f4c4f7;
$Color-magenta--300: #edadf2;
$Color-magenta--400: #f282f5;
$Color-magenta--500: #db61db;
$Color-magenta--600: #c44eb9;
$Color-magenta--700: #ac44a8;
$Color-magenta--800: #8f3896;
$Color-magenta--900: #6c2277;
$Color-magenta--1000: #451551;
$Color-magenta--1100: #29192d;
$Color-pink--100: #fcdbeb;
$Color-pink--200: #ffb5d5;
$Color-pink--300: #ff95c1;
$Color-pink--400: #ff76ae;
$Color-pink--500: #ef588b;
$Color-pink--600: #e0447c;
$Color-pink--700: #ce3665;
$Color-pink--800: #b22f5b;
$Color-pink--900: #931847;
$Color-pink--1000: #561231;
$Color-pink--1100: #2b1721;
$Color-red--100: #ffd5d2;
$Color-red--200: #ffb8b1;
$Color-red--300: #ff9c8f;
$Color-red--400: #ff7f6e;
$Color-red--500: #f76054;
$Color-red--600: #ed4c42;
$Color-red--700: #db3e3e;
$Color-red--800: #c63434;
$Color-red--900: #922;
$Color-red--1000: #6d1313;
$Color-red--1100: #2b1111;
$Color-orange--100: #fcdccc;
$Color-orange--200: #ffc6a4;
$Color-orange--300: #ffb180;
$Color-orange--400: #ff9c5d;
$Color-orange--500: #fc8943;
$Color-orange--600: #f57d33;
$Color-orange--700: #ed7024;
$Color-orange--800: #ce5511;
$Color-orange--900: #962c0b;
$Color-orange--1000: #601700;
$Color-orange--1100: #2d130e;
$Color-yellow--100: #fdefcd;
$Color-yellow--200: #ffe99a;
$Color-yellow--300: #ffe16e;
$Color-yellow--400: #ffd943;
$Color-yellow--500: #ffcd1c;
$Color-yellow--600: #ffbc00;
$Color-yellow--700: #dd9903;
$Color-yellow--800: #ba7506;
$Color-yellow--900: #944c0c;
$Color-yellow--1000: #542a00;
$Color-yellow--1100: #2d1a05;
$Color-gray--100: #f3f4f4;
$Color-gray--200: #dee1e1;
$Color-gray--300: #c8cccc;
$Color-gray--400: #b0b6b7;
$Color-gray--500: #929a9b;
$Color-gray--600: #6e797a;
$Color-gray--700: #515e5f;
$Color-gray--800: #364141;
$Color-gray--900: #273333;
$Color-white: #fff;
$Color-neutral--0: #fff;
$Color-neutral--100: #f3f4f4;
$Color-neutral--200: #dee1e1;
$Color-neutral--300: #c8cccc;
$Color-neutral--400: #b0b6b7;
$Color-neutral--500: #929a9b;
$Color-neutral--600: #6e797a;
$Color-neutral--700: #515e5f;
$Color-neutral--800: #364141;
$Color-neutral--900: #273333;
$Color-neutral--1000: #162020;
$Color-black: #162020;
$Color-bambuTeal--400: #11a7aa;
$Color-bambuTeal--500: #078;
$Color-bambuTeal--600: #0f6270;
$Color-bambuTeal--700: #0a3f49;
$Color-bambuYellow--500: #f9b450;
$Color-bambuYellow--600: #ffa017;
